@model IEnumerable<S2ITSolution_MVC.ViewModels.EmprestimoViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
 

<h2>Lista de Emprestimo</h2>
<p>
    @Html.ActionLink("Novo Cadastro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Amigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Jogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DH_Emprestimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DH_Devolucao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NM_Amigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NM_Jogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DH_Emprestimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DH_Devolucao)
            </td>
            <td>
                <div class="btn-group">
                    <span class="glyphicon glyphicon-cog menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Edit", new { id = item.ID_Emprestimo })"><i class="fa fa-pencil fa-fw"></i>&nbsp;Editar</a></li>
                        <li><a href="@Url.Action("Delete", new { id = item.ID_Emprestimo })"><i class="fa fa-remove fa-fw"></i>&nbsp;Deletar</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
